blinker==1.4
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click==7.1.2
cryptography
Flask==1.1.2
idna
itsdangerous==1.1.0
Jinja2==2.11.2
lxml
MarkupSafe
numpy
oauthlib==3.0.1
pandas==1.1.5
py4j
pyarrow==2.0.0
pycparser
PyJWT==1.7.1
pymongo
pyOpenSSL
PySocks
pyspark==3.0.1
python-dateutil==2.8.1
pytz
requests
requests-oauthlib
six
tweepy
urllib3
Werkzeug==1.0.1
